footer {
  background-color: #2d2e32;
  padding: 5px 0;
  width: 100%;
}

.footerc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_container {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 4rem;
}

.footer_container h3 {
  color: #fff;
}

.footerc svg {
  color: #fff;
}
